.aboutUs3 .sub_call_to-btn {
  display: inline-block;
  padding: 10px 28px;
  border-radius: 25px;
  background-color: #f8d92b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 157px;
}

.aboutUs3 .sub_call_to-btn img {
  width: 9px;
  margin-left: 15px;
  margin-top: 3px;
}

.aboutUs3 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.aboutUs3 .col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutUs3 h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 28px;
  font-weight: 700;
}

.aboutUs3 .about_detail-box p {
  margin: 45px 0;
}
