.service_section {
  padding: 90px 0;
  position: relative;
}

.service_section h2 {
  font-size: 2rem;
  text-align: center;
}

.service_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.service_section .box .img-box {
  width: 75px;
  height: 75px;
  background-color: #03a7d3;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 10px;
}

.service_section .box .img-box img {
  width: 100%;
  max-width: 45px;
  max-height: 45px;
}

.service_section .box .detail-box h4 {
  font-weight: bold;
  font-size: 22px;
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h4 {
  font-weight: bold;
  font-size: 22px;
}

.service_section .box .detail-box a {
  color: #03a7d3;
}

.service_section .grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.service_section p {
  margin-bottom: 1rem;
  font-size: 16px;
}
