main.site-main {
  padding-top: 0 !important;
}

.form10 {
  position: relative;
  padding-top: 150px !important;
}
.form10 .container {
  position: relative;
}
.form10 .background_gradient {
  position: absolute;
  z-index: -1;
  top: -70px;
  left: -400px;
  border-radius: 0 0 40px 40px;
  background: rgb(24, 19, 64);
  background: linear-gradient(145deg, rgba(24, 19, 64, 1) 0%, rgba(57, 46, 157, 1) 100%);
  height: calc(100% + 70px);
  width: 656px;
}
.form10 .flex-wrapper {
  justify-content: space-between;
  align-items: flex-start;
}
.form10 .container {
  max-width: 1216px;
}
.form10 .left {
  width: 30%;
  max-width: 416px;
  padding-top: 68px;
}
.form10 .right {
  width: 57%;
  max-width: 696px;
}
.form10 .contact_details {
  border-radius: 30px;
  background: #fff;
  box-shadow: 4px 4px 20px 0px rgba(143, 150, 151, 0.15), 8px 4px 30px 0px rgba(28, 155, 179, 0.2);
  padding: 50px 32px;
}
.form10 .like_a_title {
  color: #2c2376;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%; /* 36px */
  margin-bottom: 20px;
}
.form10 .like_a_subtitle {
  color: #626262;
  font-size: 14px;
  line-height: 120%; /* 16.8px */
  margin-bottom: 30px;
}
.form10 .contact_info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form10 .contact_info .item {
  display: flex;
}
.form10 .contact_info .icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(137deg, rgba(57, 53, 165, 1) 0%, rgba(39, 112, 236, 1) 100%);
  transition: all 0.2s ease;
  margin-right: 20px;
}
.form10 .contact_info .item:hover .icon {
  background: linear-gradient(137deg, rgba(39, 112, 236, 1) 0%, rgba(57, 53, 165, 1) 100%);
}
.form10 .contact_info .icon svg {
  fill: #fff;
}
.form10 .contact_info .title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%; /* 24px */
  margin-bottom: 10px;
}
.form10 .contact_info .info {
  width: calc(100% - 84px);
}
.form10 .contact_info .content {
  font-size: 18px;
  line-height: 140%; /* 25.2px */
}

.form10 h1 {
  color: #2c2376;
  font-size: 42px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 20px;
  margin-bottom: 20px !important;
}
.form10 .subtitle {
  color: #626262;
  font-size: 18px;
  line-height: 140%; /* 25.2px */
  margin-bottom: 40px;
}
.form10 form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form10 form .row {
  display: flex;
  gap: 20px;
  width: 100%;
}
.form10 form .row .field {
  width: 100%;
}
.form10 form .field .title {
  color: #2c2376;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%; /* 21.6px */
  margin-bottom: 10px;
  display: block;
}
.form10 form .field textarea {
  height: 100px;
}
.form10 form .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}
.form10 form .field .select_wrapper {
  position: relative;
}
.form10 form .field .select_wrapper::after {
  display: block;
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #626262;
  border-left: 2px solid #626262;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: all 0.2s ease;
}
.select_wrapper.open::after {
  transform: rotate(135deg) !important; /* Adjust rotation */
}
.form10 form .field input,
.form10 form .field textarea,
.form10 form .field select {
  width: 100%;
  margin: 0;
  outline: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 4px 4px 20px 0px rgba(143, 150, 151, 0.15), 8px 4px 30px 0px rgba(28, 155, 179, 0.2);
  padding: 20px;
  color: #626262;
  font-size: 16px;
  line-height: 120%; /* 19.2px */
  border: none;
  resize: none;
}
.form10 form .field input::placeholder,
.form10 form .field textarea::placeholder {
  color: #aeaec0;
  font-size: 16px;
  line-height: 120%; /* 19.2px */
}
.form10 form button {
  border: 1px solid transparent;
  border-radius: 15px;
  /* background: linear-gradient(90deg, rgba(13,0,102,1) 0%, rgba(38,132,252,1) 100%); */
  padding: 20px 40px;
  color: #f0f4f5;
  width: 176px;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
}
.form10 form button:hover {
  border: 1px solid #1500aa;
  color: #1500aa;
}

.breadcrumbs.dark_mode {
  padding-top: 0;
}

.soc_links {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.soc_links li {
  display: flex;
}
.soc_links a {
  border: 1px solid #252525;
  border-radius: 8px;
  background-color: #252525;
  color: #fff;
  padding: 15px;
  transition: background-color 0.2s;
  display: block;
}
.soc_links a svg {
  width: 20px;
  height: 20px;
  display: block;
}
.soc_links a:hover .hoverFill {
  fill: #4bafc2;
}
.soc_links a:hover .hoverIcon {
  fill: #fff;
}

.blacl-link {
  color: #000;
}
.grecaptcha-badge {
  display: none;
}

@media screen and (min-width: 2700px) {
  section.form10:first-child {
    background-position: 30% bottom;
    background-size: auto;
  }
}
@media screen and (max-width: 2700px) and (min-width: 1945px) {
  section.form10:first-child {
    background-position: 20% bottom;
    background-size: auto;
  }
}
@media screen and (max-width: 1945px) {
  section.form10:first-child {
    background-size: auto;
    background-position: left top;
  }
}

@media screen and (max-width: 1270px) {
  .form10 {
    padding-top: 140px !important;
  }
  .form10 .background_gradient {
    top: -80px;
    height: calc(100% + 80px);
  }
}
@media screen and (max-width: 1100px) {
  .form10 .contact_details {
    padding: 20px;
  }
  .form10 .contact_info .icon {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
  .form10 .contact_info .icon svg {
    width: 25px;
  }
  .form10 .left {
    min-width: 336px;
  }
}

@media screen and (max-width: 1045px) {
  .form10 .left {
    padding-top: 0;
    margin-right: auto;
    margin-left: auto;
    width: fit-content !important;
  }
  .soc_links {
    gap: 20px;
  }
  .form10 .flex-wrapper {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  .form10 .left {
    width: 100%;
    max-width: 100%;
    margin-top: 32px;
  }
  .form10 .contact_info {
    justify-content: center;
    gap: 15px;
  }
  .form10 .contact_info .item {
    width: 100%;
  }
  .form10 .right {
    width: 100%;
    max-width: 100%;
  }
  section.form10:first-child {
    background-image: none;
  }
  .form10 h1 {
    margin-top: 10px;
    margin-bottom: 10px !important;
  }
  .form10 .contact_details {
    padding: 50px 64px;
  }
  .form10 h1 {
    color: #fff;
  }
  .form10 .background_gradient {
    width: 100%;
    border-radius: 0;
    height: 100%;
    left: 0;
  }
  .form10 .subtitle {
    color: #fff;
  }
  .form10 form .field .title {
    color: #fff;
  }
  .breadcrumbs.dark_mode ul li a,
  .breadcrumbs.dark_mode ul li span {
    color: #fff;
  }
  /* .form10 {
          background-image: linear-gradient(146deg, #5EB984 0%, #4BB0BD 100%) !important;
          background-size: 100% 415px !important;
          background-position: bottom !important;
          background-repeat: no-repeat;
      } */
}
@media screen and (max-width: 1024px) {
  .form10 .subtitle {
    text-align: center;
  }
  section.form10:first-child {
    padding-top: 120px !important;
    padding-bottom: 50px !important;
  }
  .form10 .introducion {
    text-align: center;
  }
  .breadcrumbs.dark_mode ul {
    justify-content: center;
  }
  .breadcrumbs ul li:last-child a,
  .breadcrumbs ul li:last-child span {
    width: 76px !important;
  }
  .breadcrumbs.dark_mode ul li::after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><path d="M6 4.5L10 8.5L6 12.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }
  .form10 h1 {
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .form10 .contact_info {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .form10 .contact_info {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .form10 h1 {
    font-size: 36px !important;
  }
}
@media screen and (max-width: 600px) {
  .form10 form .row {
    flex-direction: column;
    gap: 15px;
  }
  .form10 form button {
    width: 100%;
  }
  .form10 .contact_info .item:nth-child(2) {
    margin-top: 0;
  }
  .form10 .contact_info .item {
    width: 100%;
    margin-top: 15px;
  }
  .form10 .left {
    min-width: initial;
  }
  .form10 .like_a_subtitle {
    margin-bottom: 15px;
  }
  .form10 form {
    gap: 15px;
  }
  .form10 form .field .title {
    margin-bottom: 5px;
  }
  .form10 form .field input,
  .form10 form .field textarea {
    padding: 15px;
  }
  .form10 form button {
    padding: 15px 20px;
  }
  .form10 .subtitle {
    margin-bottom: 25px;
  }
  section.form10:first-child {
    padding-bottom: 40px !important;
  }
  .form10 {
    background-size: 100% 340px !important;
  }
  .form10 .contact_details {
    padding: 25px;
  }
  .breadcrumbs {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 410px) {
  .form10 .left {
    margin-top: 60px;
  }
  .form10 .contact_details {
    position: relative;
    top: -40px;
  }
}
@media screen and (max-width: 400px) {
  .form10 .contact_details {
    padding: 15px;
  }
  .form10 .contact_info .info {
    width: calc(100% - 55px);
  }
  .form10 .contact_info .icon {
    margin-bottom: 10px;
  }
  .form10 .contact_info .title {
    font-size: 18px;
  }
  .form10 .contact_info .content {
    font-size: 16px;
  }
}
@media screen and (max-width: 350px) {
  .soc_links {
    gap: 10px;
  }
}

.form10 .btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  border-radius: 8px;
  background: #1500aa;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.2sease;
  white-space: nowrap;
  font-weight: 400;
  border: 1px solid #1500aa;
}

.form10 .btn:hover {
  background: transparent;
}
