.form2 {
  margin-top: 50px;
}

.form2 h2 {
  font-size: 26px;
  color: #010103;
  font-weight: bold;
  position: relative;
  margin-left: 45px;
  font-weight: 600;
}

.form2 .contact_form-container {
  padding: 45px;
  padding-right: 0;
}

.form2 input {
  border: none;
  outline: none;
  border-bottom: 1px solid #252525;
  width: 90%;
  margin: 10px 0;
  font-size: 16px;
}

.form2 .mt-5 {
  margin-top: 3rem !important;
}

.form2 button {
  border: none;
  background-color: #fddd33;
  color: #fff;
  padding: 8px 40px;
  border-radius: 20px;
}

.form2 .form-flex {
  display: flex;
  align-items: center;
}
